/*font options:

    headers: 
        - Hachi Maru Pop
    Body: 
        - Montserrat 
        - Lato

*/
footer a {
        text-decoration: none;
        background-color: black;
        color: #FFD6E0;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: inline-block;
        transition: transform 0.5s ease;
        margin-right: 2rem;
      }
      footer a:hover {
        background-color: #F35A9C;
        color: black;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: solid 2px black;
        transform: translateY(-10px);
      }
body {
    background-color: #FFF6CA;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.gaming {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 2fr;
    gap: 1rem;
}
.title, .about, .howToPlay, .caseStudy, footer {
    background-color: #FFD6E0;
}
.title {
    grid-column: 2/5;
    grid-row: 1/2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.title h1 {
    margin: 0rem;
}
h1, h2, h3, h4 {
    color: #9B2340;
    font-family: "Hachi Maru Pop", cursive;
}
section {
    padding: 1rem;
}
.about {
    grid-column: 1/2;
    grid-row: 1/5;

}
.howToPlay {
    grid-column: 5/6;
    grid-row: 1/5;
}
.miniPlayer {
    grid-column: 2/5;
    grid-row: 2/5;
    background-color: black;
}
.caseStudy {
    grid-column: 1/5;
    grid-row: 2/5;
}
footer {
    padding: 1rem;
}
/*for mobile phones*/
@media (max-width: 425px) {
  .gaming {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .miniPlayer {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .howToPlay {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .about {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .caseStudy {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}