body {
    background-color: black;
    color: #FFE9F9;
    font-family: "Source Code Pro", monospace;
    font-weight: 400; /* Or 300 for even thinner */
    font-optical-sizing: auto;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
h1 {
    font-size: 800%;
}
h2 {
    font-size: 500%;
}
h3 {
    font-size: 300%;
}
h4 {
    font-size: 200%;
}
p, li {
    font-size: 150%;

}
nav {
    border-style: solid;
    border-width: 2px;
    border-color: #FFE9F9;
}
main {
    width: 90%;
    margin: auto;
}
footer {

}